<div class="row">
  <div class="span4">
    <ul class="breadcrumb">
    <li><a href="#">Posts</a> <span class="divider"></span></li>
  </ul>

  {{#each controller}}
    {{view Emberprod.PostsShowView contactBinding="this"}}
  {{else}}
    <li>There are no posts.</li>
  {{/each}}
  {{#if isNewVisible}}
    <tr>
      <td>*</td>
      <td>
        {{view Emberprod.NewContactView}}
      </td>
    </tr>
  {{/if}}
  <div class="commands">
  <a href="#" {{action "showNew"}}>New Contact</a>
  <a href="#" {{action "refreshListing"}}>Refresh Listing</a>
</div>
</div>



