<div class="row">
  <div class="span4">
    {{#each controller}}
      {{view Emberprod.PostsShowView postsBinding="this"}}
    {{else}}
      <li>There are no posts.</li>
    {{/each}}
  </div>
  {{#if view.isNewVisible}}
    <div class="span4">
      <tr>
        <td>*</td>
        <td>
          {{view Emberprod.PostsNewView}}
        </td>
      </tr>
    </div>
  {{/if}}
  <div class="commands">
    <a href="#" {{action "showNew" target="view"}}>New Contact</a>
    <a href="#" {{action "refreshListing" target="view"}}>Refresh Listing</a>
  </div>
</div>
